

<div class="col-md-8 col-md-offset-2">
  <!--  DETAILS
  ==================================================-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Tenant Details</b></h3>
    </div>
    <div class="panel-body">
      <div class="row">

      <!-- COL -->
      <div class="col-md-6">
        <div class="table-responsive responsive-table">
          <table class="table info-table">
            <tbody>
             <tr>
                <td><b>Tenant Name</b>:</td>
                <td>{{tenant.name}}</td>
             </tr>
             <tr>
                <td><b>Tenant Adhaar</b>:</td>
                <td>{{tenant.adhaar}}</td>
             </tr>
             <tr>
                <td><b>Total Address</b>:</td>
                <td>{{tenant.address}}</td>
            </tr>
            <tr>
                <td><b>Tenant Phone</b>:</td>
                <td>{{tenant.phone}}</td>
            </tr>
            </tbody>
          </table><!-- ./info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->

      <!-- COL -->
      <div class="col-md-6">
         <div class="table-responsive responsiv-table">
            <table class="table info-table">
                <tbody>
                  <tr>
                    <td><b>Hostel Name</b>:</td>
                    <td>{{tenant.room.hostel.name}}</td>
                  </tr>
                  <tr>
                    <td><b>Floor Name</b>:</td>
                    <td>{{tenant.room.floor}}</td>
                  </tr>
                  <tr>
                    <td><b>Room Number</b>:</td>
                    <td>{{tenant.room.roomNumber}}</td>
                  </tr>
                </tbody>
            </table><!-- info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->
    </div><!-- ./row -->

    <!-- EDIT -->
    <a href="#/hostel/58ef57e67a310d0011d7ab5f/edit"
      class="btn btn-warning btn-xs">
        Edit
    </a>
    <!-- DELETE -->
    <a href="#/hostel/58ef57e67a310d0011d7ab5f/delete"
      class="btn btn-danger btn-xs">
        Delete
    </a>

  </div><!-- ./panel-body -->
</div><!-- ./panel -->
</div><!-- ./col -->
