 <!DOCTYPE html>
<html lang="en" class=" js no-touch">
<head>
  <title>Hostel Manager | Hostel Management Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:600,300|Josefin+Slab:400,700,600italic,600,400italic'
    rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="/assets/css/landing.css">
</head>
<body>
	<!--HEADER START-->
	<div class="main-navigation navbar-fixed-top">
		<nav class="navbar navbar-default">
			<div class="container">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#myNavbar">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="index.html">
          Hostel Manager
        </a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			  <ul class="nav navbar-nav navbar-right">
			    <li class="active"><a href="#banner">Home</a></li>
			    <li><a href="#service">Service</a></li>
			    <li><a href="#contact">Contact Us</a></li>
			    <li><a href="/login">Login</a></li>
			  </ul>
			</div>
		  </div>
		</nav>
	</div>
	<!--HEADER END-->

  <!--BANNER START-->
	<div id="banner" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="jumbotron">
				  <h1 class="small">
            Welcome To
            <span class="bold">
              Hostel Manager
            </span>
          </h1>
				  <p class="big">
            Manage your hostels anytime anywhere.
          </p>
				  <a href="#" class="btn btn-banner">
            Buy Now
            <i class="fa fa-send"></i>
          </a>
				</div>
			</div>
		</div>
	</div>
	<!--BANNER END-->


	<!--SERVICE START-->
	<div id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Our Services</h1>
					<hr class="pg-titl-bdr-btm"></hr>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa-picture-o"></i></div>
						<div class="service-text">
							<h3>
                Any Where Any time
              </h3>
							<p>
                We can proudly say that we are working towards providing you
                the greatest invention that is easily accessible and effectively
                working on all platforms.
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa fa-code"></i></div>
						<div class="service-text">
							<h3>
                24 / 7 Contact Support
              </h3>
							<p>
                Our customer service personnels will be available for client
                issues and try to solve them as early as possible.
              </p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service-box">
						<div class="service-icon"><i class="fa fa-diamond"></i></div>
						<div class="service-text">
							<h3>
                Administration
              </h3>
							<p>
                This application can be easily managed by all hostel managers
                financial planning, record keeping &amp; billing.
              </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--SERVICE END-->




	<!--CTA2 START-->
	<div class="cta2">
		<div class="container">
			<div class="row white text-center">
				<h3 class="wd75 fnt-24">
          "Every Thing you need to manage your hostel all in one place."
        </h3>
				<p class="cta-sub-title"></p>
				<a href="#" class="btn btn-default">Buy Now</a>
			</div>
		</div>
	</div>
	<!--CTA2 END-->

	<!--CONTACT START-->
	<div id="contact" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="page-title text-center">
					<h1>Quick Contact</h1>
					<hr class="pg-titl-bdr-btm"></hr>
				</div>
        <!-- Address -->
        <p class="text-md text-center">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          18-6-7, 4th line, kedhareswara pet,
          <br>
          Vijayawada - 520003
        </p>

        <!-- Phone -->
        <p class="text-md text-center">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
          0866-2532279, 9502095599
        </p>

        <!-- Email -->
        <p class="text-md text-center">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          info@squbeit.com
        </p>


			</div>
		</div>
	</div>
	<!--CONTACT END-->

	<!--FOOTER START-->
	<footer class="footer section-padding">
		<div class="container">
			<div class="row">

				<div class="col-sm-4 text-center wow zoomIn">
					<h3>Follow us on</h3>
					<div class="footer_social">
						<ul>
							<li>
                <a class="f_facebook" href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
							<li>
                <a class="f_twitter" href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
							<li>
                <a class="f_google" href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
							<li>
                <a class="f_linkedin" href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
						</ul>
					</div>
				</div><!--- END COL -->

        <div class="col-sm-4 text-center wow zoomIn">
          <br>
          <p class="bold">S Qube Technologies</p>
          <p>18-6-7, 4th line,</p>
          <p>kedhareswara pet,</p>
          <p>VIJAYAWADA - 520003</p>
        </div>

			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</footer>

    <script src="/assets/vendor/jquery/jquery.min.js"></script>
  	<script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>

</body>
</html>
