<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hostel Manager | Hostel Management Application | Login Page</title>

  <!-- Bootstrap Core CSS -->
  <link href="/assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>


<body>

    <br>
    <div class="container">
      <div class="row">

        <!-- ALERTS  -->
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
          <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
        <% } %>


        <br>
        <br>
        <br>
        <div class="col-md-4 col-md-offset-4 text-center">
          <form class="form-signin" action="/login" method="POST">
            <h1>Login!</h1>

            <!-- USERNAME -->
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="inputEmail" class="form-control"
              placeholder="Username" name="username" required autofocus>

            <br>

            <!-- PASSWORD -->
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control"
              placeholder="Password" name="password" required>

            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>

          <br>
          <p class="text-justify">
            <a href="/" style="text-decoration: underline">
                Home
            </a>
          </p>

        </div>


    </div><!-- ./row -->
    </div> <!-- ./container -->

</body>
</html>
