

<div class="col-md-8 col-md-offset-2">
  <!--  DETAILS
  ==================================================-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Room Details</b></h3>
    </div>
    <div class="panel-body">
      <div class="row">

      <!-- COL -->
      <div class="col-md-6">
        <div class="table-responsive responsive-table">
          <table class="table info-table">
            <tbody>
             <tr>
                <td><b>Room Number</b>:</td>
                <td>{{room.roomNumber}}</td>
             </tr>
             <tr>
                <td><b>Floor Name</b>:</td>
                <td>{{room.floor}}</td>
             </tr>
             <tr>
                <td><b>Total Beds</b>:</td>
                <td>{{room.numBeds}}</td>
            </tr>
            <tr>
                <td><b>Empty Beds</b>:</td>
                <td>{{room.numBeds - room.numOccupied}}</td>
            </tr>
            </tbody>
          </table><!-- ./info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->

      <!-- COL -->
      <div class="col-md-6">
         <div class="table-responsive responsiv-table">
            <table class="table info-table">
                <tbody>
                  <tr>
                    <td><b>Hostel Name</b>:</td>
                    <td>{{room.hostel.name}}</td>
                  </tr>
                  <tr>
                    <td><b>Cost</b>:</td>
                    <td>{{room.cost}}</td>
                  </tr>
                </tbody>
            </table><!-- info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->
    </div><!-- ./row -->

    <!-- EDIT -->
    <a href="#/room/{{room._id}}/edit"
      class="btn btn-warning btn-xs">
        Edit
    </a>

  </div><!-- ./panel-body -->
</div><!-- ./panel -->
</div><!-- ./col -->
