

<div class="col-md-8 col-md-offset-2">
  <!--  DETAILS
  ==================================================-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>{{hostel.name}} Details</b></h3>
    </div>
    <div class="panel-body">
      <div class="row">

      <!-- COL -->
      <div class="col-md-6">
        <div class="table-responsive responsive-table">
          <table class="table info-table">
            <tbody>
             <tr>
                <td><b>Payment Title</b>:</td>
                <td>{{payment.title}}</td>
             </tr>
             <tr>
                <td><b>Tenant Phone</b>:</td>
                <td>{{payment.tenant.phone}}</td>
             </tr>
             <tr>
                <td><b>Title</b>:</td>
                <td>{{payment.title}}</td>

            </tr>
            </tbody>
          </table><!-- ./info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->

      <!-- COL -->
      <div class="col-md-6">
         <div class="table-responsive responsiv-table">
            <table class="table info-table">
                <tbody>
                  <tr>
                      <td><b>Amount</b>:</td>
                      <td>{{payment.amount}}</td>
                  </tr>
                  <tr>
                      <td><b>Description</b>:</td>
                      <td>{{payment.desc}}</td>
                   </tr>
                </tbody>
            </table><!-- info-table -->
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->
    </div><!-- ./row -->

    <!-- EDIT -->
    <a href="#/payment/{{payment._id}}/edit"
      class="btn btn-warning btn-xs">
        Edit
    </a>
    <!-- DELETE -->
    <a ng-click="delete(p._id)" class="btn btn-danger btn-xs">
        Delete
    </a>

  </div><!-- ./panel-body -->
</div><!-- ./panel -->
</div><!-- ./col -->
