  <form id="newUser" ng-submit="submit()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <input id="username" ng-model="user.username" type="text"
            placeholder="Username" class="form-control input-md">
        </div><!-- ./form-group -->
        <div class="form-group">
          <input id="password" ng-model="user.password" type="text"
            placeholder="Password" class="form-control input-md">
        </div><!-- ./form-group -->
        <div class="form-group">
         <input type="submit" value="submit"
          class="btn btn-primary">
        </div><!-- ./form-group -->
      </div><!-- ./col -->
    </div><!-- ./row -->
  </form>
