

<div class="col-md-8 col-md-offset-2">
  <!--  DETAILS
  ==================================================-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Hostel Details</b></h3>
    </div>
    <div class="panel-body">
      <div class="col-md-6">
        <div class="table-responsive responsiv-table">
          <table class="table info-table">
            <tbody>
             <tr>
                <td><b>Name</b>:</td>
                <td> hostel-1</td>
             </tr>
             <tr>
                <td><b>Address</b>:</td>
                <td>vijayawada</td>
             </tr>
             <tr>
                <td><b>About</b>:</td>
                <td> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                   Donec vel accumsan enim.
                  Aliquam lacus eros, suscipit eu dolor eget,
                  accumsan lacinia eros. Donec ornare scelerisque cu
              </td>

            </tr>
            <tr>
                <td><b>Phone</b>:</td>
                <td>8686125559</td>
            </tr>
            <tr>
                <td><b>Category</b>:</td>
                <td> gents</td>
             </tr>
            </tbody>
          </table>
        </div><!--table-responsive close-->
      </div><!--col-md-6 close-->

      <div class="col-md-6">
         <div class="table-responsive responsiv-table">
            <table class="table info-table">
                <tbody>
                      <tr>
                      <td><b>Warden</b>:</td>
                          <td> xperson</td>
                        </tr>
                        <tr>
                          <td><b>Warden Phone</b>:</td>
                          <td> 7242812822</td>
                        </tr>
                        <tr>
                          <td><b>Warden Address</b>:</td>
                          <td>
                            Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Donec vel accumsan enim.
                            Aliquam lacus eros,
                             suscipit eu dolor eget, accumsan
                          </td>
                        </tr>
                        <tr>
                          <td><b>Owner</b>:</td>
                          <td>suresh</td>
                        </tr>
                      </tbody>
                    </table>
                </div><!--table-responsive close-->
                <br><br>
                <a href="/room/new?hostel=58ef57e67a310d0011d7ab5f"
                class="btn btn-default">
                  Create Room
                </a>
                <a href="/room?hostel=58ef57e67a310d0011d7ab5f"
                    class="btn btn-default">
                    See All Rooms
                  </a>
          </div><!--col-md-6 close-->
            <br><br>
              <a href="/hostel/58ef57e67a310d0011d7ab5f/edit" class="btn btn-warning btn-xs">
                    Edit
              </a>
                <!-- DELETE -->
                <form action="/hostel/58ef57e67a310d0011d7ab5f?_method=DELETE" method="post"
                style="display: inline-block">
                <input type="submit" value="Delete" class="btn btn-danger btn-xs">
          </form>
          </div><!--row close-->
      <!-- EDIT -->
      </div>
    </div>
   </div><!-- ./col -->
